body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.cellStyle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
  font-weight: 800;
}

.cellStyle i {
  font-size: 1.5rem;
}

#gameOverImage {
  opacity: 1;
  z-index: 4;
  height: 70%;
  max-width: 100%;
  margin: 0 50px;
  background: url("https://www.google.com/logos/fnbx/minesweeper/lose_screen.png")
    0px 80px no-repeat;
  background-repeat: repeat-x;
  position: relative;
  padding-top: 20px;
}

.tryAgain {
  cursor: pointer;
  margin: 0 50px;
  border-radius: 7px;
  background: #00adb5;
  color: white;
  padding: 10px;
  font-weight: 700;
}

@media (max-width: 400px) {
  .cellStyle {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }

  .cellStyle i {
    font-size: 0.7rem;
  }

  #gameOverImage {
    height: 60%;
    background: url("https://www.google.com/logos/fnbx/minesweeper/lose_screen.png")
      0px 30px no-repeat;
    background-size: contain;
  }
}
